{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Speed Burger{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>

  <div id="header">
      <a href="/" class="logo"><h1>Speed Burger</h1></a>
  </div>

  <div id="subheader">
                    <a class="contact" href="/">Home</a>
                    <a class="contact" href="contactus/">Contact Us</a>
                    <a  class="contact"  href="aboutus/">About Us</a>
      <span class="contact">
         {% if user.is_authenticated %}
                        Welcome: {{ user.get_username }}

                        <a class="contact" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                    {% else %}
                        <a class="contact" href="{% url 'login' %}?next={{ request.path }}">Hi, Please Login</a>
                    {% endif %}
      </span>
      {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            Your cart:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% else %}
             <a class="cart" href="{% url "cart:cart_detail" %}"> My Cart </a>
          {% endif %}
        {% endwith %}
  </div>

  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>